<footer class="py-5">
            <hr><br>
            <div class="container">
                <div class="row">
                    <span class="col-3">
                        <img src="static/single_pages/css/title.png">
                    </span>
                    <br>
                    <span class="col-6">
                        <h6 style="font-size:0.86rem; line-height: 1.4">
                            ㈜코지퍼지<br>
                            대표이사: 이동희/서울특별시 도봉구 삼양로 144길 33 덕성여자대학교 차미리사관 229호<br>
                            사업자등록번호: 211-87-00620 / 통신판매업 신고: 제 01-1968호<br>
                            개인정보보호책임자: 이동희 / 소비자피해보상보험 SGI 서울보증<br><br>

                            호스팅서비스:㈜코지퍼지<br>
                            COPYRIGHT © COZYFUZZY ALL RIGHTS RESERVED.<br>
                        </h6>
                    </span>
                    <br>
                    <div class="card col-3 border-0" style="width: 14rem; height: 8rem; background-color:#e9efea">
                        <div class="card-body" style="padding-left:0.5rem;">
                            <h5 class="card-title" style="font-size:0.86rem; font-weight: bold">
                                고객센터 문의
                            </h5>
                            <h6 class="card-text mb-2" style="font-size:0.76rem">
                                운영시간: 10시 ~ 17시 (주말, 공휴일 휴무)
                            </h6>
                            <h6 class="card-text mb-2" style="font-size:0.76rem">
                                전화번호: 02-901-8341
                            </h6>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
